body {
    background-size: cover;
    background-color: rgb(131, 115, 93);
    font-family: Montserrat;
}

.logo {
    width: 530px;
    height: 100px;
    margin: 0px auto;
    margin-top: 200px;
    font-weight: bold;
    text-decoration-style: wavy;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.885);
}

.box {
    width: 400px;
    border-radius: 5px;
    padding-bottom: 30px;
    margin: 0 auto;
    border: thin solid rgb(138, 134, 134);
    background:  rgb(116, 96, 75);
}

.reg-buttons {
    width: 197.9px;
    height: 40px;
    padding: 5px;
    color: rgb(239, 247, 247);
    font-size: 20px;
    border: thin solid rgb(128, 124, 124);
    background-color: #363641;
}

.block {
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgba(116, 96, 75);
    border-color: rgba(116, 96, 75);
}

.block h1 {
    text-align: center;
    color: rgb(206, 206, 206);
    font-size: 25px;
    margin-bottom: 20px;
}

.button {
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 1px;
    color: #fff;
    margin : 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    cursor: pointer;
}

.input {
    width: 95%;
    height: 40px;
    padding-left: 13px;
    box-sizing: border-box;
    border-radius: 1px;
    color: rgb(255, 255, 255);
    margin : 10px;
    background-color: rgb(14, 13, 13);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: text;
}

.error {
    color: rgb(255, 41, 41);
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}

#output {
    background: rgba(34, 33, 33, 0.486);
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    -ms-text-autospace: ideograph-space;
    font-style: italic;
    display: none;
    font-family: Courier New, Courier, monospace;      
}

#register-block {
    display: none;
}

#login-block {
    display: block;
}

#refresh {
    background: #088f1fd4;
    border: 1px solid #088f1fd4;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 50px;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: rgb(44, 76, 145);
    color: white;
    margin-left: 10px;
}
  
.fa-amazon {
    background: #f88d00;
    color: white;
    margin-left: 12px;
    margin-right: 12px;
}

.fa-google {
    background: #d32222;
    color: white;
}