body {
    background: url("../img/background.jpg") no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 560px;
    height: 100px;
    margin: 30px auto;
    font-weight: bold;
    text-decoration-style: wavy;
    font-size: 40px;
    color: rgba(245, 247, 244, 0.466);
}

.block {
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.582), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: rgba(100, 99, 99, 0.356);
    border-top: 5px solid #0000007c;
}

.block h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.712);
    font-size: 25px;
    margin-bottom: 20px;
}

.button {
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    margin : 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    cursor: pointer;
}

.input {
    width: 95%;
    height: 40px;
    padding-left: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin : 10px;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: text;
}

.reg-buttons {
    width: 248px;
    height: 40px;
    padding: 5px;
    color: rgba(239, 247, 247, 0.568);
    font-size: 20px;
    border-color: rgba(1, 2, 24, 0);
    background-color: #14142591;
}

.box {
    width: 501px;
    border-radius: 5px;
    padding-bottom: 30px;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.582), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: rgba(51, 100, 22, 0.459);
}

.error {
    color: rgb(185, 8, 8);
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}


#result-block {
    background: rgba(34, 33, 33, 0.486);
    color: #ffffff;    
    margin-top: 70px;
}

#output {
    color: rgba(255, 255, 255, 0.753);
    font-size: 15px;
    -ms-text-autospace: ideograph-space;
    font-style: italic;
    font-family: Courier New, Courier, monospace;      
}

#facebook, #reg-facebook {
    background: #1154b8cb;
    border: 1px solid #1154b8b9;
}

#google, #reg-google {
    background: #b81111ce;
    border: 1px solid #b81111d0;
}

#amazon, #reg-amazon {
    background: #fc9003da;
    border: 1px solid #ff9100d0;
}

#register-block {
    display: none;
}

#login-block {
    display: block;
}

#refresh {
    background: #088f1fd4;
    border: 1px solid #088f1fd4;
}

