body {
    background: url('/client/img/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 560px;
    height: 100px;
    margin: 30px auto;
    font-weight: bold;
    text-decoration-style: wavy;
    font-size: 40px;
    color: rgba(245, 247, 244, 0.466);
}

#login-block {
    background: rgba(228, 228, 228, 0.548);
    border-radius: 5px;
    border-top: 5px solid #0000007c;
    margin: 0 auto;
}

.block {
    width: 320px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.582), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#result-block {
    background: rgba(34, 33, 33, 0.486);
    border-radius: 5px;
    margin: 0 auto;
    color: #ffffffab;    
    margin-top: 70px;
}

.block h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.712);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}

#output {
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
    font-size: 18px;
    -ms-text-autospace: ideograph-space;
    font-style: italic;
    font-family: Courier New, Courier, monospace;      
    margin-bottom: 20px;
}

.button {
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    margin : 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

#facebook {
    background: #1154b8cb;
    border: 1px solid #1154b8b9;
}

#google {
    background: #b81111ce;
    border: 1px solid #b81111d0;
}

#amazon {
    background: #fc9003da;
    border: 1px solid #ff9100d0;
}
